@charset "utf-8";
body { margin:0; padding:0; width:98%;  font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
html, .main { ; background:#0D0C0A  top repeat-x;}
.clr100 { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
.logo { padding:0 0 20px 0; margin:0 -120px auto; width:0px; float:left;}
.logo img { float:left; margin:0 10px 0 0; }
h1 { margin:0; padding:5px 0; width:300px; color:#fff; font:normal 36px/1.2em Arial, Helvetica, sans-serif; letter-spacing:-2px;}
h1 a { color:#fff; text-decoration:none;}
h1 a:hover { color:#93ba09; text-decoration:none;}
h1 a:hover span { color:#fff;}
h1 span { color:#93ba09;}
h1 small {  color:#fff; display:inline; padding:0 0 0 10px; font:normal 12px/1.2em Arial, Helvetica, sans-serif; letter-spacing:normal;}
a {  color:#990000; text-decoration:none;}

.header, .content, .menu_nav100, .fbg, .footer, form, ol, ol li100, .content .mainbar, .content .sidebar { margin:0; padding:0;}

/* header */
.header { }
.header_resize { margin:0 auto; padding:15px 0 0 0; width:970px;height: 200px;}
.header_img { width: 980px; height: 100px; padding:100px 0 0 200px;}
.header_img img  { float:right;}
.header_img h2 { width:500px; float:left; text-align:left; font: normal 24px Arial, Helvetica, sans-serif; color:#fff; padding:50px 0 0 0; margin:0;}
.header_img h2  span { font: normal 46px Arial, Helvetica, sans-serif; color:#fff;}
.header_img p {width:500px; float:left; text-align:left; font: normal 12px Arial, Helvetica, sans-serif; color:#fff; line-height:1.8em; padding:10px 0 0 0;}
/* menu */
.menu_nav100 { margin:40px -200px 40px 0; padding:3px 0 0 35px; float:right; width:500px;}
.menu_nav100 ul100 { list-style:none; padding:0; margin:0; }
.menu_nav100 li100 { float:right; padding:0 10px; }
.menu_nav100 li100 a100 { font:normal 15px Arial, Helvetica, sans-serif; color:#959595; display:block; float:left; padding:10px 10px 0 0 ; }
.menu_nav100 li100 a100:hover { text-decoration:none; color:#93ba09; }
.menu_nav100 li100.active a100 { text-decoration:none; color:#93ba09; }

    
